ENV=dev
PORT=3025 # must match the port in backend/docker/services.prod.yml
LOG_LEVEL=info
GIN_MODE=debug
PRIM_BASE_URL=https://prim.iledefrance-mobilites.fr
PRIM_API_KEY=your_api_key_here
API_KEY=your_api_key_here
